@import '../node_modules/slick-carousel/slick/slick';
@import '../node_modules/slick-carousel/slick/slick-theme';
@import 'App';

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
