.App {
  text-align: center;
  width: auto;
  margin-left: 16px;
  margin-right: 16px;

  @media screen and (min-width: 1106px) {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .NavBar {
    border-bottom: 1px solid #e0e0e0;
  }

  .AppTitle {
    flex-basis: 100%;
  }

  .UserOrLoginButton {
    position: absolute;
    right: 24px;
  }

  .PagesBar {
    justify-content: space-around;
  }

  .Banner {
    .slick-prev {
      left: 24px;
      z-index: 1;
    }
    .slick-next {
      right: 24px;
    }
    div {
      width: 100%;
      height: 320px;
      background: #606060;
      img {
        margin: 0 auto;
        height: 100%;
      }
    }
  }

  .mainGrid {
    margin-top: 24px;
  }

  .sidebarAboutBox {
    padding: 16px;
    background-color: #eee;
  }
}