.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: .25;
  z-index: 200;
}

.app {
  width: auto;
  margin-left: 16px;
  margin-right: 16px;

  @media screen and (min-width: 1106px) {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .navBar {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    z-index: 201;
  }

  .appTitle {
    flex-basis: 100%;
  }

  .userOrLoginButton {
    position: absolute;
    right: 24px;
  }

  .pagesBar {
    position: relative;
    justify-content: space-around;
    z-index: 201;
  }

  .banner {
    .slick-prev {
      left: 24px;
      z-index: 201;
    }

    .slick-next {
      right: 24px;
      z-index: 201;
    }

    .featuredPost {
      height: 320px;
      background: #424242;

      img {
        margin: 0 auto;
        height: 100%;
      }
    }
  }

  .mainGrid {
    margin-top: 24px;

    .sidebarAboutBox {
      padding: 16px;
      background-color: #e0e0e0;
    }

    .post {
      /*margin-top: 6px;
      padding: 16px 0;*/
      display: flex;
    }

    .postDetails {
      flex: 1;
    }

    .postMedia {
      width: 160px;
      background: #424242;
    }
  }

  .footer {
    background-color: #fff;
    margin-top: 64px;
    padding: 48px;

    .button {
      margin-top: 16px;
    }
  }
}