.App {
  text-align: center;
  width: auto;
  margin-left: 3;
  margin-right: 3;

  @media screen and (min-width: 1106px) {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .NavBar {
    border-bottom: 1px solid #e0e0e0;
  }

  .AppTitle {
    flex-basis: 100%;
  }

  .UserOrLoginButton {
    position: absolute;
    right: 24px;
  }

  .PagesBar {
    justify-content: space-around;
  }

  .Banner {
    .slick-prev {
      left: 24px;
      z-index: 1;
    }
    .slick-next {
      right: 24px;
    }
    div {
      background: #e0e0e0;
    }
  }
}